@font-face {
    font-family: 'icomoon';
    src:    url('../resource/font/icomoon.eot');
    src:    url('../resource/font/icomoon.eot') format('embedded-opentype'),
        url('../resource/font/icomoon.ttf') format('truetype'),
        url('../resource/font/icomoon.woff') format('woff'),
        url('../resource/font/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newfont';
    src:   url('../resource/font/newfont-extra-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'newfontBold';
    src:   url('../resource/font/newfont-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
	tap-highlight-color:transparent;
	-webkit-tap-highlight-color:transparent;
}

body {
	height: 100%;
	margin: 0;
	background-color: #f7f7f7;
	transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	perspective: 1000;
	overflow: hidden;
	color: #383838;
	-webkit-transform:translateZ(0); 
	font-family: "newfont", "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

html { 
	font-size : 20px; 
	height: 100%;
} 

[flex],[flex]>*,[flex]>[flex]{
	overflow: hidden
}

[flex]{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

[flex]>*{
	display: block
}

[flex]>[flex]{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

[flex~="dir:left"]{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row
}

[flex~="dir:right"]{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse
}

[flex~="dir:top"]{
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

[flex~="dir:bottom"]{
	-webkit-box-orient: vertical;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: column-reverse;
	-ms-flex-direction: column-reverse;
	flex-direction: column-reverse
}

[flex~="main:left"]{
	-webkit-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start
}

[flex~="main:right"]{
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end
}

[flex~="main:justify"]{
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}

[flex~="main:center"]{
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center
}

[flex~="cross:top"]{
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	-ms-grid-row-align: flex-start;
	align-items: flex-start
}

[flex~="cross:bottom"]{
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	-ms-grid-row-align: flex-end;
	align-items: flex-end
}

[flex~="cross:center"]{
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center
}

[flex~="cross:baseline"]{
	-webkit-box-align: baseline;
	-webkit-align-items: baseline;
	-ms-flex-align: baseline;
	-ms-grid-row-align: baseline;
	align-items: baseline
}

[flex~="cross:stretch"]{
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	-ms-grid-row-align: stretch;
	align-items: stretch
}

[flex~="box:mean"]>*,[flex~="box:first"]>*,[flex~="box:last"]>*,[flex~="box:justify"]>*{
	width: 0;
	height: auto;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1
}

[flex~="box:first"]>:first-child,[flex~="box:last"]>:last-child,[flex~="box:justify"]>:first-child,[flex~="box:justify"]>:last-child{
	width: auto;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0
}

[flex~="dir:top"][flex~="box:mean"]>*,[flex~="dir:top"][flex~="box:first"]>*,[flex~="dir:top"][flex~="box:last"]>*,[flex~="dir:top"][flex~="box:justify"]>*,[flex~="dir:bottom"][flex~="box:mean"]>*,[flex~="dir:bottom"][flex~="box:first"]>*,[flex~="dir:bottom"][flex~="box:last"]>*,[flex~="dir:bottom"][flex~="box:justify"]>*{
	width: auto;
	height: 0;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1
}

[flex~="dir:top"][flex~="box:first"]>:first-child,[flex~="dir:top"][flex~="box:last"]>:last-child,[flex~="dir:top"][flex~="box:justify"]>:first-child,[flex~="dir:top"][flex~="box:justify"]>:last-child,[flex~="dir:bottom"][flex~="box:first"]>:first-child,[flex~="dir:bottom"][flex~="box:last"]>:last-child,[flex~="dir:bottom"][flex~="box:justify"]>:first-child [flex~="dir:bottom"][flex~="box:justify"]>:last-child{
	height: auto;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0
}

[flex-box="0"]{
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0
}

[flex-box="1"]{
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-negative: 1;
	flex-shrink: 1
}

[flex-box="2"]{
	-webkit-box-flex: 2;
	-webkit-flex-grow: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	-webkit-flex-shrink: 2;
	-ms-flex-negative: 2;
	flex-shrink: 2
}

[flex-box="3"]{
	-webkit-box-flex: 3;
	-webkit-flex-grow: 3;
	-ms-flex-positive: 3;
	flex-grow: 3;
	-webkit-flex-shrink: 3;
	-ms-flex-negative: 3;
	flex-shrink: 3
}

[flex-box="4"]{
	-webkit-box-flex: 4;
	-webkit-flex-grow: 4;
	-ms-flex-positive: 4;
	flex-grow: 4;
	-webkit-flex-shrink: 4;
	-ms-flex-negative: 4;
	flex-shrink: 4
}

[flex-box="5"]{
	-webkit-box-flex: 5;
	-webkit-flex-grow: 5;
	-ms-flex-positive: 5;
	flex-grow: 5;
	-webkit-flex-shrink: 5;
	-ms-flex-negative: 5;
	flex-shrink: 5
}

[flex-box="6"]{
	-webkit-box-flex: 6;
	-webkit-flex-grow: 6;
	-ms-flex-positive: 6;
	flex-grow: 6;
	-webkit-flex-shrink: 6;
	-ms-flex-negative: 6;
	flex-shrink: 6
}

[flex-box="7"]{
	-webkit-box-flex: 7;
	-webkit-flex-grow: 7;
	-ms-flex-positive: 7;
	flex-grow: 7;
	-webkit-flex-shrink: 7;
	-ms-flex-negative: 7;
	flex-shrink: 7
}

[flex-box="8"]{
	-webkit-box-flex: 8;
	-webkit-flex-grow: 8;
	-ms-flex-positive: 8;
	flex-grow: 8;
	-webkit-flex-shrink: 8;
	-ms-flex-negative: 8;
	flex-shrink: 8
}

[flex-box="9"]{
	-webkit-box-flex: 9;
	-webkit-flex-grow: 9;
	-ms-flex-positive: 9;
	flex-grow: 9;
	-webkit-flex-shrink: 9;
	-ms-flex-negative: 9;
	flex-shrink: 9
}

[flex-box="10"]{
	-webkit-box-flex: 10;
	-webkit-flex-grow: 10;
	-ms-flex-positive: 10;
	flex-grow: 10;
	-webkit-flex-shrink: 10;
	-ms-flex-negative: 10;
	flex-shrink: 10
}

@media only screen and (min-width: 401px){
	html {
		font-size: 25px !important;
		height: 100%;
	} 
}
@media only screen and (min-width: 428px){
	html {
		font-size: 26.75px !important; 
		height: 100%;
	}
}
@media only screen and (min-width: 481px){
	html {
		font-size: 30px !important; 
		height: 100%;
	}
}
@media only screen and (min-width: 569px){
	html {
		font-size: 35px !important;
		height: 100%;
	}
}
@media only screen and (min-width: 641px){
	html {
		font-size: 40px !important;
		height: 100%;
	}
}

ul{
	margin: 0;
}

li{
	margin: 0;
}

@media (-webkit-device-pixel-ratio: 1){
	.SHRKit-px-line{
		height: 1px;
		border-bottom: 1px solid #d4d4d4;
	}

}

@media (-webkit-min-device-pixel-ratio: 2){
	.SHRKit-px-line{
		height: 1px;
		border-bottom: 1px solid #d4d4d4;
		-webkit-transform:scaleY(.5);
	    transform-origin:0 0;
	}
}

@media (-webkit-min-device-pixel-ratio: 3){
	.SHRKit-px-line{
		height: 1px;
		border-bottom: 1px solid #d4d4d4;
		-webkit-transform:scaleY(.33);
	    transform-origin:0 0;
	}
}

@media (-webkit-device-pixel-ratio: 1){
	.SHRKit-split-line{
		margin-left: 10px;
		height: 1px;
		border-bottom: 1px solid #d4d4d4;
	}

}

@media (-webkit-min-device-pixel-ratio: 2){
	.SHRKit-split-line{
		margin-left: 10px;
		height: 1px;
		border-bottom: 1px solid #d4d4d4;
		-webkit-transform:scaleY(.5);
	    transform-origin:0 0;
	}
}

@media (-webkit-min-device-pixel-ratio: 3){
	.SHRKit-split-line{
		margin-left: 10px;
		height: 1px;
		border-bottom: 1px solid #d4d4d4;
		-webkit-transform:scaleY(.33);
	    transform-origin:0 0;
	}
}

@media (-webkit-device-pixel-ratio: 1){
	.SHRKit-top-line:before{
	    content:"";
	    position: absolute;
	    top:0px;
	    left:0px;
	    right:0px;
	    border-top:1px solid #d4d4d4;
	}

	.SHRKit-bottom-line:after{
	    content:"";
	    position: absolute;
	    bottom:0px;
	    left:0px;
	    right:0px;
	    border-bottom:1px solid #d4d4d4;
	}
}

@media (-webkit-min-device-pixel-ratio: 2){
	.SHRKit-top-line:before{
	    content:"";
	    position: absolute;
	    top:0px;
	    left:0px;
	    right:0px;
	    border-top:1px solid #d4d4d4;
	    -webkit-transform:scaleY(.5);
	    transform-origin:0 0;
	}

	.SHRKit-bottom-line:after{
	    content:"";
	    position: absolute;
	    bottom:-1px;
	    left:0px;
	    right:0px;
	    border-bottom:1px solid #d4d4d4;
	    -webkit-transform:scaleY(.5);
	    transform-origin:0 0;
	}
}

@media (-webkit-min-device-pixel-ratio: 3){
	.SHRKit-top-line:before{
	    content:"";
	    position: absolute;
	    top:0px;
	    left:0px;
	    right:0px;
	    border-top:1px solid #d4d4d4;
	    -webkit-transform:scaleY(.33);
	    transform-origin:0 0;
	}

	.SHRKit-bottom-line:after{
	    content:"";
	    position: absolute;
	    bottom:-1px;
	    left:0px;
	    right:0px;
	    border-bottom:1px solid #d4d4d4;
	    -webkit-transform:scaleY(.33);
	    transform-origin:0 0;
	}
}

.SHRKit-tab{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.SHRKit-tabbar{
	position: absolute;
	background-color: rgba(255,255,255,.9);
	z-index: 9;
	-webkit-transform: translateZ(9px);
	transform: translateZ(9px);
	bottom: 0px;
	width: 100%;
	height: 49px;
	box-shadow: 0 0 2px 0 rgba(100,100,100,.3);
}

.SHRKit-tab-item{
	background-color: rgba(255, 255, 255, .8);
	height: 100%;
}

.SHRKit-tab-item-selected{
	background-color: rgba(198, 198, 200, .8);
	box-shadow: 0 -2px 8px -6px rgba(0,0,0,1) inset;
}

.SHRKit-tab-title{
	line-height: 49px;
	font-size: 14px;
	color: #aaaaaa;
	text-align: center;
}

.SHRKit-tab-title-selected{
	color: #555555;
	text-shadow: 0 0 2px rgba(0,0,0,.3);
}

.SHRKit-nv{
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
}

.SHRKit-show{
	display: block;
}

.SHRKit-hide{
	display: none;
}

.SHRKit-page-container{
	height: 100%;
	display: flex;
}

.SHRKit-page-container-transition{
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
}

.SHRKit-page{
	height: 100%;
	background-color: #f7f7f7;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.SHRKit-page:after{
	content: "";
	display: block;
	height: 59px;
}

.SHRKit-blank{
	width: 100%;
	height: 10px;
}

.SHRKit-cell-header{
	font-size: 12px;
	padding-left: 10px;
	padding-bottom: 5px;
	height: 12px;
	color: #9e9e9e;
}

.SHRKit-cell{
	width: 100%;
	position: relative;
	background-color: white;
}

.SHRKit-cell-content{
	height: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.SHRKit-right-arrow{
	float: right;
	font-family: 'icomoon';
	color: #ccc;
	padding-right: 10px;
	height: 24px;
	line-height: 24px;
}

.SHRKit-right-arrow:after{
	content: "\e904";
}

.SHRKit-back-arrow{
	float: right;
	font-family: 'icomoon';
	color: #ccc;
	padding-left: 10px;
	height: 24px;
	line-height: 24px;
}

.SHRKit-back-arrow:after{
	content: "\e903";
}

.SHRKit-button{
	user-select:none;
	-webkit-user-select:none;
}

.SHRKit-button-bg{
	user-select:none;
	-webkit-user-select:none;
}

@media (-webkit-device-pixel-ratio: 1){
	.SHRKit-cell:before{
	    content:"";
	    position: absolute;
	    top:0px;
	    left:0px;
	    right:0px;
	    border-top:1px solid #d4d4d4;
	}

	.SHRKit-cell:after{
	    content:"";
	    position: absolute;
	    bottom:0px;
	    left:0px;
	    right:0px;
	    border-bottom:1px solid #d4d4d4;
	}
}

@media (-webkit-min-device-pixel-ratio: 2){
	.SHRKit-cell:before{
	    content:"";
	    position: absolute;
	    top:0px;
	    left:0px;
	    right:0px;
	    border-top:1px solid #d4d4d4;
	    -webkit-transform:scaleY(.5); 
	    transform-origin:0 0;
	}

	.SHRKit-cell:after{
	    content:"";
	    position: absolute;
	    bottom:-1px;
	    left:0px;
	    right:0px;
	    border-bottom:1px solid #d4d4d4;
	    -webkit-transform:scaleY(.5); 
	    transform-origin:0 0;
	}
}

@media (-webkit-min-device-pixel-ratio: 3){
	.SHRKit-cell:before{
	    content:"";
	    position: absolute;
	    top:0px;
	    left:0px;
	    right:0px;
	    border-top:1px solid #d4d4d4;
	    -webkit-transform:scaleY(.33) translateZ(0); 
	    transform-origin:0 0;
	}

	.SHRKit-cell:after{
	    content:"";
	    position: absolute;
	    bottom:-1px;
	    left:0px;
	    right:0px;
	    border-bottom:1px solid #d4d4d4;
	    -webkit-transform:scaleY(.33) translateZ(0); 
	    transform-origin:0 0;
	}
}

.SHRKit-cell-content-title{
	line-height: 24px;
	padding-left: 10px;
	font-size: 14px;
}

.SHRKit-cell-content-image{
	width: 24px;
	height: 24px;	
	margin-left: 10px;
}

.SHRKit-cell-content-image img{
	height: 100%;
	width: 100%;
}

.SHRKit-cell-content-info{
	padding-left: 10px;
}

.SHRKit-cell-content-bank-info-title{
	font-size: 14px;
	height: 16px;
	line-height: 16px;
	font-weight: 700;
}

.SHRKit-cell-content-bank-info-sub-title{
	font-size: 10px;
	height: 10px;
	line-height: 10px;
	color: #9e9e9e;
}

.SHRKit-alert-view{
	position: absolute;
	z-index: 999;
	-webkit-transform: translateZ(19px);
	transform: translateZ(19px);
	top: 0px;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	visibility: hidden;
	opacity: 0;
 	align-items: center;
	justify-content: center;
	animation:fadeIn 0.3s;

}

.SHRKit-alert-content{
	width: 240px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, .9);
	border-radius: 6px;
	visibility: hidden;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	opacity: 0;
	animation:fadeIn 0.5s;
}

@keyframes fadeIn
{
	0%{
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.SHRKit-alert-text{
	font-size: 14px;
	height: 104px;
	width: 224px;
	padding: 8px;
	box-shadow: 0 0 3px rgba(0, 0, 0, .3);
	background-color: white;
	border-radius: 6px 6px 0 0;
	overflow-x : hidden;
	vertical-align:middle;
	text-align: center; 
    display:table-cell;
}

.SHRKit-alert-buttons{
	font-size: 14px;
	height: 40px;
	width: 100%;
	border-radius: 0 0 6px 6px;
}

.SHRKit-alert-button{
	height: 100%;
	text-align: center;
	line-height: 40px;
	color: rgba(21, 126, 251, 1);
	display: inline-block;
	float: left;
	box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1);
}

.SHRKit-loading-view{
	position: absolute;
	z-index: 998;
	-webkit-transform: translateZ(18px);
	transform: translateZ(18px);
	top: 0px;
	width: 100%;
	height: 100%;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	visibility: hidden;
	opacity: 0;
	display: flex;
}

.SHRKit-loading-content{
	width: 88px;
	height: 88px;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 16px;
	box-shadow: 0 0 5px rgba(0, 0, 0, .3);
	visibility: visible;
	opacity: 1;
}

.SHRKit-loading-img{
	width: 32px;
	height: 32px;
	padding-left: 28px;
	padding-top: 16px;
}

.SHRKit-loading-text{
	color: white;
	text-align: center;
	width: 88px;
	height: 40px;
	line-height: 28px;
	font-size: 14px;
}

.SHRKit-tip-view{
	position: absolute;
	z-index: 997;
	-webkit-transform: translateZ(17px);
	transform: translateZ(17px);
	bottom: 88px;
	width: 100%;
	-webkit-transition: all .8s ease-in-out;
	transition: all .8s ease-in-out;
	visibility: hidden;
	opacity: 0;
}

.SHRKit-tip-content{
	background-color: rgba(0, 0, 0, 0.6);
	font-size: 12px;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 10px;
	max-height: 46px;
	text-align: center;
	color: white;
	overflow: hidden;
	border-radius: 10px;
}

.SHRKit-cell-input{
	padding-right: 10px;
	padding-left: 10px;
}

.SHRKit-input-text{
	border: 0px;
	height: 24px;
	font-size: 14px;
	line-height: 24px;
	outline:none;
	padding: 0;
	color: #444;
	width: 100%;
	display: block;
}

