._HRKit-Navigation-Controller{

    width: 100%;
    height: 100%;

    ._HRKit-Navigation-bar{
        height: 4.4rem;
        width: 100%;
        border-bottom: 1px solid rgba(214, 214, 214, .6);
        background-color: rgba(255, 255, 255, .96);
        position: fixed;
        top: 0rem;
        z-index: 9;

        ._HRKit-Navigation-bar-back{
            width: 6rem;
            height: 100%;
        }
    }

    ._HRKit-Navigation-bar-hidden{
        display: none;
    }

    ._HRKit-Navigation-page{
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0rem;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: white;
        padding-bottom: 4.9rem;
        -webkit-overflow-scrolling: touch;
        box-sizing: border-box;

        .slide-in-appear {
            transform: translate3D(100%, 0, 0);
            transition: all 300ms linear;

            &.slide-in-appear-active {
                transform: translate3D(0, 0, 0);
            }
        }

        .slide-in-enter {
            transform: translate3D(100%, 0, 0);
            transition: all 300ms linear;
            &.slide-in-enter-active {
                transform: translate3D(0, 0, 0);
            }
        }

        // 向左滑出
        .slide-in-leave {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 1;
            transform: translate3D(0, 0, 0);
            transition: all 300ms linear;

            &.slide-in-leave-active {
                opacity: 0.01;
                transform: translate3D(-100%, 0, 0);
            }
        }
    }

    ._HRKit-Navigation-page-top{
        padding-top: 4.5rem;
    }
}
